* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container span {
    color: white;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0px solid white;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(241, 10, 202);
    animation: rotate 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(10, 241, 41);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(10, 156, 241);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);

    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(45deg) rotateZ(360deg);

    }
}